{% extends "layout.html" %}



{% block title %}
    Home
{% endblock %}

{% block content %}
    <h2>Search Result</h2>
    
    <div class="content" id=search_result style="justify-content: center; align-content: justify;">
    	<h2 style="margin-bottom: 18px; margin-top: 5px">{{ book_number }} Books Found</h2>
    	{% if result %}
    	{% for book in result %}

    	<table class="table table-dark table-responsive">
          <thead>
            <tr>
              <th scope="col">Book Name</th>
              <th scope="col">Book Author</th>
              <th scope="col">Book ISBN</th>
              <th scope="col">Book Year</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a href="/home/bookpage/{{book.isbn}}">{{book.title}}</a></td>
              <td><a href="/home/bookpage/{{book.isbn}}">{{book.author}}</a></td>
              <td><a href="/home/bookpage/{{book.isbn}}">{{book.isbn}}</a></td>
              <td><a href="/home/bookpage/{{book.isbn}}">{{book.year}}</a></td>
            </tr>
          </tbody>
        </table>
    	{% endfor %}
    	{% endif %}
    	
    </div>

 

{% endblock %}
